<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f0f0f0">
      <tr>
        <td align="center">
          <table width="600" cellpadding="0" cellspacing="0">
            <tr>
              <td>
                <div
                  style="
                    padding: 20px;
                    background-color: white;
                    text-align: center;
                  "
                >
                  <img
                    src="https://img.freepik.com/free-vector/product-quality-concept-illustration_114360-7301.jpg?t=st=1712474534~exp=1712475134~hmac=e691d951a8482dc11cb46e9cba0ea4cd1c36c3aed04f41e911af476d85fb0d41"
                    alt="Logo"
                    width="200"
                    height="150"
                    style="display: block; margin: 0 auto"
                  />
                  <h1>Your Leave Approval Successful</h1>
                  <p>Dear {{name}},</p>
                  <p>
                    I am pleased to inform you that your leave request has been
                    successfully approved.
                  </p>
                  <h3>Leave Details:</h3>
                  <ul>
                    <li>Requested Leave Dates: {{startDate}} to {{endDate}}</li>
                    <li>Reason for Leave: {{reason}}</li>
                  </ul>
                  <p>
                    Your leave has been approved by the relevant authority, and
                    you are now permitted to take the requested time off. Please
                    make sure to manage your responsibilities accordingly.
                  </p>

                  <p>
                    If you have any questions or concerns, feel free to reach
                    out to us at <b>+91 1234567895</b>.
                  </p>

                  <p>Thank you for your attention to this matter.</p>

                  <p>
                    Best regards,<br />
                    {{myname}}<br />
                    {{department}}<br />
                    Leave Management Website
                  </p>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
